{% load static %}

<footer class="main-footer text-center">
    <div class="col-lg-12 text-center">

            <div class="col-md-12 borde_footer text-center">
                <div class="text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook facebook_footer" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa fa-twitter twitter_footer" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa fa-instagram instagram_footer" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/" target="_blank">
                            <i class="fa fa-youtube-play youtube_footer" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <h4 class="text-center">
                        <a href="#" target="_blank">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span>Carlos Toro</span>
                        </a>
                    </h4>
                </div>
            </div>



        <div class="col-lg-12">
            <div class="copy_template">
                <strong>Copyright © 2021.</strong> This web was designed using <a href="https://www.djangoproject.com/">Django</a>, <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://adminlte.io">AdminLTE</a> All <b>MIT</b> licensed.
            </div>
        </div>
    </div>
</footer>
