{% load static %}
	<header class="main-header">
	<!-- Logo -->
	<a href="https://siata.gov.co/" target="_blank" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels <span class="logo-mini"><b>A</b>LT</span>-->
		<span class="logo-mini"><img class="img_logo_menu_sm" src="{% static "/assets/images/logos/256x256_bad_toro.png" %}"></span>
		<!-- logo for regular state and mobile devices <span class="logo-lg"><b>Admin</b>LTE</span>-->
		<span class="logo-lg"><img class="img_logo_menu_lg" src="{% static "/assets/images/logos/256x256_bad_toro.png" %}"> NN Company</span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" style="padding-left: 0px">
		<!-- Sidebar toggle button-->
	</nav>
	</header>
